<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807679916990-qsn1hf46gof05h28kuh6uoep1841653v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807679916990-qsn1hf46gof05h28kuh6uoep1841653v</string>
	<key>API_KEY</key>
	<string>AIzaSyAdYNLn6aPKnvs7NwU4SdGmdWKyBU38Jg0</string>
	<key>GCM_SENDER_ID</key>
	<string>807679916990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tyman</string>
	<key>PROJECT_ID</key>
	<string>android-task-monitoring-a7d9a</string>
	<key>STORAGE_BUCKET</key>
	<string>android-task-monitoring-a7d9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807679916990:ios:3800a92daf14a1ee7457ef</string>
	<key>DATABASE_URL</key>
	<string>https://android-task-monitoring-a7d9a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>